debug
**/target
**/node_modules
**/dist
**/build
**/.svelte-kit
**/.pnpm-store
packages/wasm/lib

**/*.rs.bk

*.pdb

**/mutants.out*/

rustc-ice-*.txt

.idea/
.vscode/
.zed/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
